
html {
    background: url('image/back.jpg') no-repeat center fixed;
    background-size: cover;
}


#top {
    background-color: black;
    display: flex;
    margin: auto;
    background-color: light;
}

#top_mid {
    margin: auto;
    float: left;
}

#perso {
    margin-top: 10px;
    display: flex;
    color: white;
}

#home {
    justify-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.awebradio {
    border-radius: 20px;    
    background-color: #BDBDBD;
    width: 400px;
    margin-top: 30px;
    height: 400px;
}

.image_musique {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.name_musique {
    color: black;
    font-size: 20px;
}

#home_2 {
    background: url('image/back.jpg') no-repeat center fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

#card_music {
    margin-left: 200px;
}
